<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title"> <span id="changetext"> Credits and Transactions</span>
                            <ul class="pull-right list-unstyled list-inline statusbar">
                                <li>
                                    <label>Total Trxn <span class="numbdiv">4</span></label>
                                </li>
                                <li><label>Credits Utilized <span class="numbdiv">6</span></label></li>
                                
                                <li>
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <div class="inputDivNew">
                                                <input type="text" class="datepicker" placeholder="Start Date">
                                                <i class="fas fa-calendar-week"></i>
                                            </div>
                                        </li>
                                        <li> <small>&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;</small></li>
                                        <li>
                                            <div class="inputDivNew">
                                                <input type="text" class="datepicker" placeholder="End Date">
                                                <i class="fas fa-calendar-week"></i>
                                            </div>
                                        </li>
                                    </ul>


                                </li>
                            </ul>
                        </h4>
                        <!-- <form> -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive material-datatables" id="transactionID" cellspacing="0"
                                        width="100%" style="width:100%">
                                        <table class="table table-hover" id="datatables">
                                            <thead>
                                                <tr>
                                                    <th class="disabled-sorting text-center">Sr</th>
                                                    <th style="min-width: 130px;">Date</th>
                                                    <th style="min-width: 150px;">Company / Subsidiary</th>
                                                    <th style="min-width: 120px;">First Name</th>
                                                    <th style="min-width: 120px;">Last Name</th>
                                                    <th style="min-width: 180px;">Trxn Type</th>
                                                    <th style="min-width: 100px;">Trxn Status</th>
                                                    <th style="min-width: 100px;" nowrap>Credits Used</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td nowrap>12-06-2019<br> 17:25:30 GMT</td>
                                                    <td>Jumbo Foam Mattresses</td>
                                                    <td>Jayesh</td>
                                                    <td>Patel</td>
                                                    <td>Confirmation</td>
                                                    <td>Active</td>
                                                    <td nowrap>1</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td nowrap>14-06-2019<br> 14:25:30 GMT</td>
                                                    <td>Acros Mattresses Limited</td>
                                                    <td>Lawrence</td>
                                                    <td>Ochieng</td>
                                                    <td>Refinancing</td>
                                                    <td>Accepted</td>
                                                    <td nowrap>1</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td nowrap>15-06-2019<br> 09:33:30 GMT</td>
                                                    <td>Dr. Matress</td>
                                                    <td>Adnan</td>
                                                    <td>Merdin</td>
                                                    <td>Discounting</td>
                                                    <td>Rejected</td>
                                                    <td nowrap>0 <br> <small><em>Refunded</em></small></td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td nowrap>14-08-2019<br> 14:25:30 GMT</td>
                                                    <td>Dr. Matress</td>
                                                    <td>Adnan</td>
                                                    <td>Merdin</td>
                                                    <td>Confirmation & Discounting</td>
                                                    <td>Active</td>
                                                    <td nowrap>1</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td nowrap>16-06-2019<br> 13:16:09 GMT</td>
                                                    <td>Slumberland Kenya Limited</td>
                                                    <td>Jay</td>
                                                    <td>Mediratta</td>
                                                    <td>Banker's Acceptance</td>
                                                    <td>Rejected</td>
                                                    <td nowrap>1</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right downloaddiv">
                                        <ul class="list-unstyled list-inline">
                                            <li>Download</li>
                                            <li><a href="#" class="pdf"><span class="fas fa-file-pdf"></span></a></li>
                                            <li><a href="#" class="excel"><span class="fas fa-file-excel"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>