<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>NIMAI</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <!-- <div class="wrapper"> -->

    <!-- <div class="main-panel"> -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="card-content personal_details">
                            <h4 class="card-title"> Personal Details </h4>
                            <form [formGroup]="personalDetailsForm" (ngSubmit)="submit();">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="15" formControlName="firstName" (keydown)="validateRegexFields($event, 'name_validation')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>First Name</label>
                                            <div *ngIf="submitted && perDetails.firstName.errors" class="invalid-feedback">
                                                <div *ngIf="perDetails.firstName.errors.required">
                                                   First Name is required
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="15" formControlName="lastName" (keydown)="validateRegexFields($event, 'name_validation')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Last Name</label>
                                            <div *ngIf="submitted && perDetails.lastName.errors" class="invalid-feedback">
                                                <div *ngIf="perDetails.lastName.errors?.required">
                                                    Last Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="emailId" [ngClass]="hasValue ? 'has-value' : ''" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                            <label>Official Email ID</label>
                                            <div *ngIf="submitted && perDetails.emailId.errors" class="invalid-feedback">
                                            <div *ngIf="submitted && perDetails.emailId.errors?.required">
                                                Email is required
                                            </div>
                                            <div *ngIf="perDetails.emailId.errors?.pattern">
                                                Invalid Email id
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--added by ashvini - validation added for mobile number and landline number-->
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="mobileNo" maxlength="12" (keypress)="validateRegexFields($event, 'number')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Mobile No.</label>
                                            <div *ngIf="submitted && perDetails.mobileNo.errors" class="invalid-feedback">
                                                <div *ngIf="submitted && perDetails.mobileNo.errors?.required">
                                                    Mobile No is required
                                                </div>
                                                <div *ngIf="perDetails.mobileNo.errors?.minlength">
                                                    Mobile No must of 12 digits.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="landLineNo" maxlength="12" (keypress)="validateRegexFields($event, 'number')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Landline No.</label>
                                            <div *ngIf="submitted && perDetails.landLineNo.errors" class="invalid-feedback">       
                                                <div *ngIf="perDetails.landLineNo.errors?.minlength">
                                                    Landline No must of 12 digits.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- <div class="inputDiv " > selectdiv -->
                                        <div class="inputDiv selectdiv">
                                            <select formControlName="country" [ngClass]="hasValue ? 'has-value' : ''">
                                                <option value="">Select</option>
                                                <option *ngFor="let data of resp" [ngValue]='data.country'>{{data.country}}</option>                                                
                                                <!-- <option value="India">India</option>
                                                <option value="Australia">Australia</option>
                                                <option value="BanglaDesh">Bangladesh</option> -->
                                            </select>
                                            <label>Select Country</label>
                                            <div *ngIf="submitted && perDetails.country.errors" class="invalid-feedback">
                                                <div *ngIf="submitted && perDetails.country.errors.required">
                                                    Select a Country
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" *ngIf="isReferrer">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="30" formControlName="companyName" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Company Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3" *ngIf="isReferrer" >
                                        <div class="inputDiv">
                                            <input type="text" maxlength="30" formControlName="designation" (keypress)="validateRegexFields($event, 'alphaNum')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Designation</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3" *ngIf="isReferrer">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="15" formControlName="businessType" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Business Type</label>
                                        </div>
                                    </div>
                                    
 
                                     <div class="col-md-3 bankfields" *ngIf="isBank">
                                        <div class="inputDiv">
                                           <input type="text" maxlength="15" formControlName="minLCVal" (keypress)="validateRegexFields($event, 'number')" [ngClass]="hasValue ? 'has-value' : ''">
                                           <label>Minimum Value of LC (USD)</label>
                                        </div>
                                     </div>
                                     <div class="col-md-3 bankfields" *ngIf="isBank">
                                        <div class="inputDiv multiselect-dropdown ">
                                            <ng-multiselect-dropdown-angular7 [data]="interestedCountryList" formControlName="countriesInt" [settings]="dropdownSetting" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" ></ng-multiselect-dropdown-angular7>
                                            <label class="dropdownlabel">Countries Interested</label>
                                            <div *ngIf="submitted && perDetails.countriesInt.errors" class="invalid-feedback">
                                                <div *ngIf="submitted && perDetails.countriesInt.errors?.required">
                                                    Select Countries Interested
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                     <div class="col-md-3 bankfields" *ngIf="isBank">
                                        <div class="inputDiv">
                                            <ng-multiselect-dropdown-angular7 [data]="blackListedGoodsList" formControlName="blacklistedGC" [settings]="dropdownSetting" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" ></ng-multiselect-dropdown-angular7>
                                            <label class="dropdownlabel">Blacklisted Goods</label>
                                            <div *ngIf="submitted && perDetails.blacklistedGC.errors" class="invalid-feedback">
                                                <div *ngIf="submitted && perDetails.blacklistedGC.errors?.required">
                                                    Select Blacklisted Goods
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                    <input type="hidden" formControlName="subscriberType">
                                    <input type="hidden" formControlName="userId">
                                    <input type="hidden" formControlName="bankType">
                                </div>
                                <button type="submit" class="btn btn-info pull-right">Update Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- </div> -->
    <!-- </div> -->

    




    
</body>

</html>
