<div id="menu-bar-discounting" [hidden]="!isActive" (blur)="closed()"
   style="position: fixed; width: 450px; transition: all 300ms ease 0s; height: 100%; top: 0px; right: 0px; z-index:1049;">
   <div class="popupcontent">
      <div class="card">
         <div class="card-content">
            <h4>{{title}} Transaction</h4>
            <div class="tab-content" id="tab1" *ngIf="tab==='tab1'">
               <div class="tab-pane active" id="pill1" style="height: 530px;overflow: auto;padding-bottom: 30px;">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th colspan="2">LC Details</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>LC Issuing Bank</td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceBank"></td>
                        </tr>
                        <tr>
                           <td>Branch </td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceBranch"></td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td><input type="text" [(ngModel)]="data.swiftCode"></td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceCountry"></td>
                        </tr>
                        <tr>
                           <td>Requirement</td>
                           <td><input type="text" [(ngModel)]="data.requirementType"></td>
                        </tr>
                        <tr>
                           <td>Amount</td>
                           <td><input type="text" [(ngModel)]="data.lCValue"></td>
                        </tr>
                        <tr>
                           <td>LC Issuing Date</td>
                           <td><input type="text" [(ngModel)]="data.lCIssuingDate"></td>
                        </tr>
                        <tr>
                           <td>LSD</td>
                           <td><input type="text" [(ngModel)]="data.lastShipmentDate"></td>
                        </tr>
                        <tr>
                           <td>Goods</td>
                           <td><input type="text" [(ngModel)]="data.goodsType"> </td>
                        </tr>
                     </tbody>
                  </table>

                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Tenor of Deferred Payment </th>
                        </tr>
                        <tr>
                           <td>Period for which confirmation is required</td>
                           <td><input type="text" [(ngModel)]="data.paymentPeriod"></td>
                        </tr>
                        <tr>
                           <td>Payments terms to seller as per LC </td>
                           <td><textarea rows="5" [(ngModel)]="data.paymentTerms"></textarea></td>
                        </tr>
                        <tr>
                           <td>Start Date</td>
                           <td>
                              <select style="color: rgb(51, 51, 51);">
                                 <option value="data.startDate" style="color: rgb(0, 0, 0);">{{data.startDate}}
                                 </option>
                              </select>
                           </td>
                        </tr>
                        <tr>
                           <td>End Date</td>
                           <td><select style="color: rgb(51, 51, 51);">
                                 <option value="data.endDate" style="color: rgb(0, 0, 0);">{{data.endDate}}
                                 </option>
                              </select></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Applicant</th>
                        </tr>
                        <tr>
                           <td>Applicant</td>
                           <td><input type="text" [(ngModel)]="data.applicantName"></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Beneficiary</th>
                        </tr>
                        <tr>
                           <td>Beneficiary </td>
                           <td><input type="text" [(ngModel)]="data.beneName"></td>
                        </tr>
                        <tr>
                           <td>Bank</td>
                           <td><input type="text" [(ngModel)]="data.beneBankName"></td>
                        </tr>
                        <tr>
                           <td>
                              Swift Code
                           </td>
                           <td><input type="text" [(ngModel)]="data.beneSwiftCode"></td>
                        </tr>
                        <tr>
                           <td>Bank Country</td>
                           <td><input type="text" [(ngModel)]="data.beneBankCountry"></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Others</th>
                        </tr>
                        <tr>
                           <td>Port of Loading </td>
                           <td><input type="text" [(ngModel)]="data.loadingPort"></td>
                        </tr>
                        <tr>
                           <td>Port of Discharge</td>
                           <td><input type="text" [(ngModel)]="data.dischargePort"></td>
                        </tr>
                        <tr>
                           <td>
                              Charges are on
                           </td>
                           <td><input type="text" [(ngModel)]="data.chargesType"></td>
                        </tr>
                        <tr>
                           <td>Validity</td>
                           <td><input [(ngModel)]="data.validity"></td>
                        </tr>
                        <tr>
                           <td>Pro Forma</td>
                           <td><a href="#" class="">View</a>
                              <div class="pull-right"> <input type="file" name="" class="filestyle" data-icon="false"
                                    id="filestyle-0" tabindex="-1"
                                    style="position: absolute; clip: rect(0px, 0px, 0px, 0px);">
                                 <div class="bootstrap-filestyle input-group"><input type="text" class="form-control "
                                       placeholder="" disabled=""> <span class="group-span-filestyle input-group-btn"
                                       tabindex="0"><label for="filestyle-0" class="btn btn-default "><span
                                             class="buttonText">Choose file</span></label></span></div>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>

               </div>
               <div class="posfix">
                  <button type="submit" class="btn btn-info pull-right" id="btnpreview"
                     (click)="transaction('preview')">
                     Preview
                     <div class="ripple-container"></div>
                  </button>

               </div>
            </div>

            <div class="tab-content" id="tab2" *ngIf="tab==='tab2'">
               <div class="tab-pane active datadiv" id="pill1"
                  style="    height: 530px;overflow: auto;padding-bottom: 30px;">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th colspan="2">LC Details</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>LC Issuing Bank</td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceBank"></td>
                        </tr>
                        <tr>
                           <td>Branch </td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceBranch"></td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td><input type="text" [(ngModel)]="data.swiftCode"></td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceCountry"></td>
                        </tr>
                        <tr>
                           <td>Requirement</td>
                           <td><input type="text" [(ngModel)]="data.requirementType"></td>
                        </tr>
                        <tr>
                           <td>Amount</td>
                           <td><input type="text" [(ngModel)]="data.lCValue"></td>
                        </tr>
                        <tr>
                           <td>LC Issuing Date</td>
                           <td><input type="text" [(ngModel)]="data.lCIssuingDate"></td>
                        </tr>
                        <tr>
                           <td>LSD</td>
                           <td><input type="text" [(ngModel)]="data.lastShipmentDate"></td>
                        </tr>
                        <tr>
                           <td>Goods</td>
                           <td><input type="text" [(ngModel)]="data.goodsType"> </td>
                        </tr>
                     </tbody>
                  </table>

                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Tenor of Deferred Payment </th>
                        </tr>
                        <tr>
                           <td>Period for which confirmation is required</td>
                           <td><input type="text" [(ngModel)]="data.paymentPeriod"></td>
                        </tr>
                        <tr>
                           <td>Payments terms to seller as per LC </td>
                           <td><textarea rows="5" [(ngModel)]="data.paymentTerms"></textarea></td>
                        </tr>
                        <tr>
                           <td>Start Date</td>
                           <td>
                              <select style="color: rgb(51, 51, 51);">
                                 <option value="data.startDate" style="color: rgb(0, 0, 0);">{{data.startDate}}
                                 </option>
                              </select>
                           </td>
                        </tr>
                        <tr>
                           <td>End Date</td>
                           <td><select style="color: rgb(51, 51, 51);">
                                 <option value="data.endDate" style="color: rgb(0, 0, 0);">{{data.endDate}}
                                 </option>
                              </select></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Applicant</th>
                        </tr>
                        <tr>
                           <td>Applicant</td>
                           <td><input type="text" [(ngModel)]="data.applicantName"></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Beneficiary</th>
                        </tr>
                        <tr>
                           <td>Beneficiary </td>
                           <td><input type="text" [(ngModel)]="data.beneName"></td>
                        </tr>
                        <tr>
                           <td>Bank</td>
                           <td><input type="text" [(ngModel)]="data.beneBankName"></td>
                        </tr>
                        <tr>
                           <td>
                              Swift Code
                           </td>
                           <td><input type="text" [(ngModel)]="data.beneSwiftCode"></td>
                        </tr>
                        <tr>
                           <td>Bank Country</td>
                           <td><input type="text" [(ngModel)]="data.beneBankCountry"></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Others</th>
                        </tr>
                        <tr>
                           <td>Port of Loading </td>
                           <td><input type="text" [(ngModel)]="data.loadingPort"></td>
                        </tr>
                        <tr>
                           <td>Port of Discharge</td>
                           <td><input type="text" [(ngModel)]="data.dischargePort"></td>
                        </tr>
                        <tr>
                           <td>
                              Charges are on
                           </td>
                           <td><input type="text" [(ngModel)]="data.chargesType"></td>
                        </tr>
                        <tr>
                           <td>Validity</td>
                           <td><input [(ngModel)]="data.validity"></td>
                        </tr>
                        <tr>
                           <td>Pro Forma</td>
                           <td><a href="#" class="">View</a>
               
               </td>
               </tr>
               </tbody>
               </table>

            </div>
            <div class="posfix">
               <button type="submit" class="btn btn-info pull-right" id="btnSubmit" (click)="transaction('submit')">
                  Submit
                  <div class="ripple-container"></div>
               </button>
               <button type="submit" class="btn btn-info pull-right" id="btnSubmit" (click)="transaction('edit')">
                  Edit
                  <div class="ripple-container"></div>
               </button>
            </div>
         </div>
         <div class="tab-content" id="tab3" *ngIf="tab==='tab3'">
            <div class="tab-pane active" style="margin-top: 50%;text-align: center;" id="pill1">
               <table class="table">
                  <tbody>
                     <tr>
                        <td colspan="2" class="text-center">
                           <p style="text-align: center;">Your Quote has been placed successfully.<br> Check Active
                              Transaction Section to see your current rank.</p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div class="posfix">
                  <button class="btn btn-info" (click)="transaction('ok')">
                     OK
                     <div class="ripple-container"></div>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>