<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>NIMAI</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <!-- <div class="wrapper"> -->
    <!-- <div class="main-panel">
         -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="fas fa-business-time"></i>
                        </div>
                        <div class="card-content business_details">
                            <h4 class="card-title" id="business_details">Business Details </h4>
                            <form [formGroup]="businessDetailsForm" (ngSubmit)="submit()">
                                
                        <div class=" row col-md-5 selection" *ngIf="isCustomer">
                           <div class="row">
                               <label class="customlabel">Registration Type</label>
                               <div class="radio-group">
                                   <input checked="checked" formControlName="selector"
                                       (click)="selectRegType('Exporter')" value="Exporter" type="radio"
                                       id="option-one" name="selector">
                                   <label for="option-one">Exporter</label>
                                   <input type="radio" id="option-two" value="Importer"
                                       (click)="selectRegType('Importer')" formControlName="selector"
                                       name="selector">
                                   <label for="option-two">Importer</label>
                                   <input type="radio" id="option-three" value="Impo_Expo"
                                       (click)="selectRegType('Impo_Expo')" formControlName="selector"
                                       name="selector">
                                   <label for="option-three">Both</label>
                               </div>
                           </div>
                           <div *ngIf="perDetailsSubmit && busiDetails.selector.errors" class="invalid-feedback">
                                <div *ngIf="perDetailsSubmit && busiDetails.selector.errors?.required">
                                   Please select Registration Type
                                </div>
                             </div> 
                           </div>
                                    <div class="col-md-3" *ngIf="isCustomer">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="companyName" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Company Name</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.companyName.errors?.required" class="invalid-feedback">
                                                Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="designation">
                                            <label>Designation</label>
                                        </div>
                                    </div> -->
                                    <div class="clearfix"></div>
                                    
                                    <!-- Bank Details-->
                                    <div class="col-md-3" *ngIf="!isCustomer">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="30" formControlName="bankNbfcName" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Bank Name</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.bankNbfcName.errors?.required" class="invalid-feedback">
                                                Bank name is required
                                            </div>
                                            <div *ngIf="busiDetails.bankNbfcName.errors?.minlength" class="invalid-feedback">
                                                Bank name atleast 3 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" *ngIf="!isCustomer">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="30" formControlName="branchName" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Branch Name</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.branchName.errors?.required" class="invalid-feedback">
                                                Branch name is required
                                            </div>
                                            <div *ngIf="busiDetails.branchName.errors?.minlength" class="invalid-feedback">
                                                Branch name atleast 3 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" *ngIf="!isCustomer">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="11" formControlName="swiftCode" (keypress)="validateRegexFields($event, 'alphaNum')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Swift Code</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.swiftCode.errors?.required" class="invalid-feedback">
                                                Swift code is required
                                            </div>
                                            <div *ngIf="busiDetails.swiftCode.errors?.minlength" class="invalid-feedback">
                                                Swift code atleast 3 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <!--added by ashvini - designation field added for bank-->
                                    <div class="col-md-3" *ngIf="!isCustomer">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="bank_designation">
                                            <label>Designation</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.bank_designation.errors?.required" class="invalid-feedback">
                                                Designation is required
                                            </div>
                                            <div *ngIf="busiDetails.bank_designation.errors?.minlength" class="invalid-feedback">
                                                Designation atleast 3 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Bank Details-->
                                    <!-- Bank Details-->
                                    <!-- <div class="col-md-3" *ngIf="!isCustomer">
                           <div class="inputDiv">
                               <input type="text" formControlName="minimumValueofLC">
                               <label>Minimum Value of LC</label>
                               <div *ngIf="submitted && suf.swiftCode.errors" class="invalid-feedback">
                                   <div *ngIf="suf.swiftCode.errors.required">
                                       Branch Name is required
                                   </div>
                                </div>
                           </div>
                           </div> -->
                                    <!-- Bank Details-->
                                    <!-- <div class="col-md-3" *ngIf="!isCustomer">
                           <div class="inputDiv">
                               <input type="text" formControlName="lCCurrencyValue">
                               <label>LC Currency Value</label>
                           </div>
                           </div> -->
                                    <!-- <div class="col-md-3">
                                        <div class="inputDiv selectdiv" *ngIf="!isCustomer">
                                            <select formControlName="lCCurrencyValue">
                                                <option value="">Select</option>
                                                <option value="INR">INR</option>
                                                <option value="USD">USD</option>
                                                <option value="EUR">EUR</option>
                                            </select>
                                            <label>LC Currency </label>
                                        </div>
                                    </div> -->
                                    <div class="col-md-12 items row" id="items" *ngIf="isCustomer">
                                        <div class="col-md-12 items" id="items" formArrayName="owners"
                                            *ngFor="let item of businessDetailsForm.get('owners').controls; let i = index;">
                                            <div class="row" [formGroupName]="i">
                                                <input type="hidden" formControlName="ownerID">
                                                <div class="col-md-3">
                                                    <div class="inputDiv">
                                                        <input type="text" maxlength="15" formControlName="ownerFirstName" (keydown)="validateRegexFields($event, 'name_validation')" [ngClass]="hasValue ? 'has-value' : ''">
                                                        <label>MD/CEO/Owner’s First Name</label>
                                                        <div *ngIf="perDetailsSubmit && item.controls.ownerFirstName.status==='INVALID'" class="invalid-feedback">
                                                            <div *ngIf="item.controls.ownerFirstName.status==='INVALID'">
                                                                MD/CEO/Owner’s First Name is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="inputDiv">
                                                        <input type="text" maxlength="15" formControlName="ownerLastName" (keydown)="validateRegexFields($event, 'name_validation')" [ngClass]="hasValue ? 'has-value' : ''">
                                                        <label>MD/CEO/Owner’s Last Name</label>
                                                        <div *ngIf="perDetailsSubmit && item.controls.ownerLastName.status==='INVALID'" class="invalid-feedback">
                                                                <div *ngIf="item.controls.ownerLastName.status==='INVALID'">
                                                                 MD/CEO/Owner’s Last Name is required
                                                              </div>
                                                           </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="inputDiv">
                                                        <input type="text" maxlength="30" formControlName="designation" (keypress)="validateRegexFields($event, 'alphaNum')" [ngClass]="hasValue ? 'has-value' : ''">
                                                        <label>Designation</label>
                                                        <div *ngIf="perDetailsSubmit && item.controls.designation.status==='INVALID'" class="invalid-feedback">
                                                                <div *ngIf="item.controls.designation.status==='INVALID'">
                                                                     Designation is required
                                                                </div>
                                                           </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="inputDiv" *ngIf="i==0">
                                                        <button type="button" class="btn btn-info btn-xs add_button"
                                                            (click)="add(i)">Add
                                                            More</button>
                                                    </div>
                                                    <div class="inputDiv" *ngIf="i>0">
                                                        <button type="button"
                                                            class="btn btn-info btn-xs add_button" (click)="remove(i)">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Bank Details-->
                                    <!-- <div class="col-md-3">
                           <div class="inputDiv">
                               <input type="text" formControlName="blacklistGoodsCommodities">
                               <label>Blacklist Goods/Commodities</label>
                           </div>
                           </div> -->
                                    <div class="clearfix"></div>
                                    <h4 class="card-title col-md-12"
                                        style="padding: 5px 15px 15px 15px;font-size: 15px;font-weight: 500;">
                                        Registered Address Details
                                    </h4>
                                    <div class="col-md-3">
                                        <div class="inputDiv selectdiv">
                                            <select formControlName="country" [ngClass]="hasValue ? 'has-value' : ''">
                                                <option [ngValue]="null" selected>Select</option>
                                                <option *ngFor="let data of resp" >{{data.country}}</option>
                                                <!-- <option value="India">India</option>
                                                <option value="Australia">Australia</option>
                                                <option value="Bangladesh">Bangladesh</option> -->
                                            </select>
                                            <label>Select Country</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.country.errors?.required" class="invalid-feedback">
                                                Country is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv selectdiv" >
                                            <select formControlName="provinceName" [ngClass]="hasValue ? 'has-value' : ''">
                                                <option [ngValue]="null" selected>Select</option>
                                                <option value="Maharastra">Maharashtra</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                            </select>
                                            <label>Select Province/State</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.provinceName.errors" class="invalid-feedback">
                                                <div *ngIf="busiDetails.provinceName.errors.required">
                                                    Province/State is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="15" formControlName="city" (keydown)="validateRegexFields($event, 'alpha')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>City</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.city.errors?.required" class="invalid-feedback">
                                                City is required
                                            </div>
                                            <div *ngIf="busiDetails.city.errors?.minlength" class="invalid-feedback">
                                                    City atleast 2 characters long.
                                            </div>
                                        </div>
                                        <!-- <div class="inputDiv">
                              <select class="selectpicker" data-style="select-with-transition" multiple title="Choose City" data-size="7">
                                <option disabled> Choose City</option>
                                <option value="2">Paris </option>
                                <option value="3">Bucharest</option>
                                <option value="4">Rome</option>
                                <option value="5">New York</option>
                                <option value="6">Miami </option>
                                <option value="7">Piatra Neamt</option>
                                <option value="8">Paris </option>
                                <option value="9">Bucharest</option>
                                <option value="10">Rome</option>
                                <option value="11">New York</option>
                                <option value="12">Miami </option>
                                <option value="13">Piatra Neamt</option>
                                <option value="14">Paris </option>
                                <option value="15">Bucharest</option>
                                <option value="16">Rome</option>
                                <option value="17">New York</option>
                                <option value="18">Miami </option>
                                <option value="19">Piatra Neamt</option>
                              </select>
                              </div> -->
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="30" formControlName="addressLine1" [ngClass]="hasValue ? 'has-value' : ''" (keydown)="validateRegexFields($event, 'namewithspace')">
                                            <label>Address Line 1</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.addressLine1.errors?.required" class="invalid-feedback">
                                                Address Line 1 is required
                                            </div>
                                            <div *ngIf="busiDetails.addressLine1.errors?.minlength" class="invalid-feedback">
                                                    Address atleast 2 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="30" formControlName="addressLine2" [ngClass]="hasValue ? 'has-value' : ''" (keydown)="validateRegexFields($event, 'namewithspace')">
                                            <label>Address Line 2</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.addressLine2.errors?.required" class="invalid-feedback">
                                                Address Line 2 is required
                                            </div>
                                            <div *ngIf="perDetailsSubmit && busiDetails.addressLine2.errors" class="invalid-feedback">
                                                <div *ngIf="busiDetails.addressLine2.errors?.minlength">
                                                    Address Line 2 atleast 2 characters long.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" maxlength="30" formControlName="addressLine3" [ngClass]="hasValue ? 'has-value' : ''" (keydown)="validateRegexFields($event, 'namewithspace')">
                                            <label>Address Line 3 / Landmark</label>
                                            <!-- <div *ngIf="perDetailsSubmit && busiDetails.addressLine3.errors?.required">
                                                Landmark is required
                                            </div> -->
                                            <div *ngIf="perDetailsSubmit && busiDetails.addressLine3.errors" class="invalid-feedback">
                                                <div *ngIf="busiDetails.addressLine3.errors?.minlength">
                                                    Landmark atleast 2 characters long.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="pincode" maxlength="6" (keypress)="validateRegexFields($event, 'number')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Pincode/Zipcode</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.pincode.errors?.required" class="invalid-feedback">
                                                Pincode/Zipcode is required
                                            </div>
                                            <div *ngIf="busiDetails.pincode.errors?.minlength" class="invalid-feedback">
                                                Pincode must be 5 to 6 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="inputDiv">
                                            <input type="text" formControlName="telephone" maxlength="12" (keypress)="validateRegexFields($event, 'number')" [ngClass]="hasValue ? 'has-value' : ''">
                                            <label>Telephone</label>
                                            <div *ngIf="perDetailsSubmit && busiDetails.telephone.errors?.required" class="invalid-feedback">
                                                Telephone is required
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" formControlName="userId">
                                    <button type="submit" class="btn btn-info pull-right">Next</button>
                                    <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- </div> -->
    <!-- </div>  -->
</body>

</html>
<!-- 

<div class="grid-row loadingdiv" [hidden]="!loading">
    <div class="col">
       <div class="content-a">
          <div class="content-b">
       <ul class="loading">
          <li></li>
          <li></li>
          <li></li>
          
       </ul>
       </div>
       </div>
    </div>
 </div> -->