<div class="row" [hidden]="!confirmation" [formGroup]="LcDetail">
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" maxlength="5" formControlName="paymentPeriod"
                (keypress)="validateRegexFields($event, 'number')">
            <!--added by ashvini Label Change-->    
            <label>Period for which Confirmation is required</label>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4" [hidden]="!CandD">
        <div class="inputDiv">
            <input type="text" maxlength="5" formControlName="paymentPeriod"
                (keypress)="validateRegexFields($event, 'number')">
            <!--added by ashvini Label Change-->    
            <label>Period for which discounting is required</label>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
        <div class="inputDiv">
            <input type="text" maxlength="300" formControlName="paymentTerms"
                (keypress)="validateRegexFields($event, 'alphaNum')">
            <label>Payment terms to seller as per LC</label>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" readonly="" formControlName="tenorStartDate" class="has-value" value="{{LcDetail.get('lCIssuingDate').value | date: 'MM/dd/yyyy'}}">
            <label>Start Date</label>
        </div>
    </div>
    <!-- <div class="col-md-4 ">
        <div class="selection"><label class="customlabel">End Date</label>
        </div>
        <div class="radio">
            <label >
                <input type="radio" (change)="handleRadio($event,'DOM')" name="tenorEndDate"
                    value="DOM"><span class="circle"></span><span class="check"></span><span
                    class="circle"></span><span class="check"></span>
                Date of Maturity <i class="fas fa-info-circle" aria-hidden="true"></i>
            </label>
        </div>
        <div class="radio">
            <label >
                <input type="radio" name="tenorEndDate" (change)="handleRadio($event,'ND')"
                    value="Negotiation Date"><span class="circle"></span><span class="check"></span><span
                    class="circle"></span><span class="check"></span>
                Negotiation Date
            </label>
        </div>

    </div> -->
</div>

<div class="row" [hidden]="!discount" [formGroup]="LcDetail">
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" maxlength="5" formControlName="paymentPeriod" (keypress)="validateRegexFields($event, 'number')">
            <label>Period for which discounting is required (Days)</label>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
        <div class="inputDiv">
            <textarea rows="4" maxlength="300" formControlName="paymentTerms" (keypress)="validateRegexFields($event, 'alphaNum')"></textarea>
            <label>Payment terms to seller as per LC</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="inputDiv">
            <textarea maxlength="50" rows="4"></textarea>
            <label>Remarks</label>
        </div>
    </div>
</div>

<!-- refinancing -->
<div class="row" [hidden]="!refinancing" [formGroup]="LcDetail">
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" maxlength="5" (keypress)="validateRegexFields($event, 'number')">
            <label>Original Tenor of LC (Days)</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" maxlength="5" formControlName="paymentPeriod" (keypress)="validateRegexFields($event, 'number')">
            <label>Period for which refinancing is required (Days)</label>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12">
        <div class="selection maturitydate">
            <p><strong>LC Maturity Date <i class="fas fa-info-circle" aria-hidden="true"></i></strong></p>
        </div>
        <ul class="list-unstyled list-inline">
            <li>
                <div class="radio">
                    <label for="rdmaturity">
                        <input type="radio" (change)="handleRadio($event)" value="rdmaturity" id="rdmaturity" name="optionsRadios"
                            ><span class="circle"></span><span class="check"></span><span
                            class="circle"></span><span class="check"></span>
                        <div class="inputDiv" style="margin: -15px 0 0 0;"><input type="text" readonly="" value="{{LcDetail.get('lCIssuingDate').value | date: 'dd/MM/yyyy'}}"
                                name="">
                        </div>
                    </label>
                </div>
            </li>
            <li>
                <div class="radio">
                    <label for="rdNegotiation">
                        <input checked="checked" type="radio" value="rdNegotiation" name="optionsRadios" id="rdNegotiation"><span
                            class="circle"></span><span class="check"></span><span class="circle"></span><span
                            class="check"></span>
                        Multiple Dates
                    </label>
                </div>
            </li>
            <li class="multipledate" style="width: 400px; display: none;">
                <label>Upload Document (only jpg, jpeg, png)</label>
                <input (change)="handleFileInput($event)" type="file" placeholder="Document" class="filestyle" name="upload_file1" id="upload_file1" data-icon="false"/>
            </li>

        </ul>


        <style type="text/css">
            .list-inline>li {
                display: inline-block;
                padding-right: 5px;
                padding-left: 5px;
                vertical-align: top;
            }
        </style>
    </div>

    <div class="clearfix"></div>
    <p class="col-md-12"><strong>Beneficiary Details of Last Transaction</strong></p>
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" maxlength="20" >
            <label>LC Number</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" maxlength="30">
            <label>Beneficiary Bank Name</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="inputDiv">
            <input type="text" maxlength="11" (keypress)="validateRegexFields($event, 'alphaNum')">
            <label>Swift Code</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="inputDiv selectdiv">

            <select name="country" style="color: transparent;">
                <option value="" style="color: rgb(0, 0, 0);">Select</option>
                <option value="1" style="color: rgb(0, 0, 0);">India</option>
                <option value="2" style="color: rgb(0, 0, 0);">Bangladesh</option>
                <option value="3" style="color: rgb(0, 0, 0);">Kenya</option>
                <option value="4" style="color: rgb(0, 0, 0);">Nigeria</option>
                <option value="5" style="color: rgb(0, 0, 0);">UAE </option>
                <option value="6" style="color: rgb(0, 0, 0);">Qatar</option>
            </select>
            <label>Country</label>
        </div>
    </div>
</div>