<div id="menubarConfDis" [hidden]="!isActive">
    <div class="popupcontent">
       <div class="card">
          <div class="card-content">
             <h4>Place Quote</h4>
             <div class="tab-content" id="tab1" style="max-height: 503px;overflow: auto;">
                <div class="tab-pane active" id="pill1">
                   <table class="table">
                      <tbody>
                         <tr>
                            <td>Confirmation Charges p.a.</td>
                            <td><input type="text" name="" placeholder="0.00"><span class="pull-right percent">%</span></td>
                         </tr>
                         <tr>
                            <td>Discounting Charges p.a.</td>
                            <td><input type="text" name="" placeholder="0.00"><span class="pull-right percent">%</span></td>
                         </tr>
                         <tr>
                            <td>Confirmation Charges applicable from date of issuance till negotiation date</td>
                            <td><input type="text" name="" readonly placeholder="0.00"></td>
                         </tr>
                         <tr>
                            <td>Confirmation Charges applicable from date of issuance till date of maturity  </td>
                            <td><input type="text" name="" readonly placeholder="0.00"></td>
                         </tr>
                         <tr>
                            <td>Applicable Benchmark (Libor/Euribor)<br>
                             
                            </td>
                            <td><input type="text" name="" readonly placeholder="2.8750"><span class="pull-right percent">%</span>
                              <textarea rows="3" placeholder="1 Month Libor, 3 Months Euribor, etc."></textarea></td>
                         </tr>
                         <tr>
                            <td>
                               Negotitation Charges 
                               <select class="halfauto">
                                  <option value="Fixed">Fixed</option>
                               </select>
                            </td>
                            <td>
                               <input class="halfleft" type="text" name="" placeholder="0.00" />
                               <select class="halfright">
                                  <option value="USD">USD</option>
                               </select>
                            </td>
                         </tr>
                         <tr>
                            <td>
                               Negotitation Charges
                               <select class="halfautoc halfwidthdiv">
                                  <option value="%">%</option>
                               </select>
                            </td>
                            <td>
                               <input type="text" name="" placeholder="0.00" class="halfleft" />
                               <select class="halfright">
                                  <option value="USD">USD</option>
                               </select>
                            </td>
                         </tr>
                         <tr>
                            <td>Document Handling Charges</td>
                            <td>
                               <input class="halfleft" type="text" name="" placeholder="0.00" />
                              <select class="halfright">
                                  <option value="USD">USD</option>
                               </select>
                            </td>
                         </tr>
                         <tr>
                            <td>Minimum Transaction Charges</td>
                            <td>
                              <input class="halfleft" type="text" name="" placeholder="0.00" />
                              
                               <select class="halfright">
                                  <option value="USD">USD</option>
                               </select>
                            </td>
                         </tr>
                         <tr>
                            <td>Other Charges<br>
                               
                            </td>
                            <td>
                             
<input class="halfleft" type="text" name="" placeholder="0.00" />

<select class="halfright">
                                  <option value="USD">USD</option>
                               </select>
                               <textarea rows="3" placeholder="Specify the type charge (Swift, P&T, etc)"></textarea>
                            </td>
                         </tr>
                         <tr>
                            <td>Validity</td>
                            <td><input type="text" name="" placeholder="28/03/2020"></td>
                         </tr> 
                      </tbody>
                   </table>
                   <div class="posfix">
                      <button type="submit" class="btn btn-info pull-right"  id="btnpreview">
                         Preview
                         <div class="ripple-container" ></div>
                      </button>
                      <a href="#"  class="pull-right linkbtn" style="margin-right: 5px;">Save
                      </a>
                   </div>
                </div>
             </div>
             <div class="tab-content" id="tab2">
                <div class="tab-pane active" id="pill1">
                   <table class="table">
                      <tbody>
                         <tr>
                            <td>Confirmation Charges p.a.</td>
                            <td>1.23%</td>
                         </tr>
                         <tr>
                            <td>Discounting Charges p.a.</td>
                            <td>1.23%</td>
                         </tr>
                         <tr>
                            <td>Confirmation Charges applicable from date of issuance till negotiation date  </td>
                            <td>1.23%</td>
                         </tr>
                         <tr>
                            <td>Confirmation Charges applicable from date of issuance till date of maturity  </td>
                            <td>1.23%</td>
                         </tr>
                         <tr>
                            <td>Applicable Benchmark (Libor/Euribor)
                            </td>
                            <td>2.8740%<br><small>3 Months Euribor</small></td>
                         </tr>
                         <tr>
                            <td>Negotiation Charges</td>
                            <td>
                               USD $200
                            </td>
                         </tr>
                         <tr>
                            <td>Negotiation Charges</td>
                            <td>
                               0.125%
                            </td>
                         </tr>
                         <tr>
                            <td>Document Handling Charges</td>
                            <td>
                               USD $500
                            </td>
                         </tr>
                         <tr>
                            <td>Minimum Handling Charges</td>
                            <td>
                               USD $500
                            </td>
                         </tr>
                         <tr>
                            <td>Other Charges<br>
                            </td>
                            <td>
                               USD $50 <br><small>Customer needs to pay standard swift transfer charges.</small>
                            </td>
                         </tr>
                         <tr>
                            <td>Validity</td>
                            <td>28/03/2020</td>
                         </tr>
                         <tr>
                            <th>Total Quote</th>
                            <th>USD $65287</th>
                         </tr>
                         <tr>
                            <td colspan="2"><small>Note : The applicable benchmark will be applicable as of transaction date, actual quote from the bank may differ to that extent.</small></td>
                         </tr> 
                      </tbody>
                   </table>
                   <div class="posfix">
                      <button type="submit" class="btn btn-info pull-right" id="btnSubmit">
                         Submit
                         <div class="ripple-container"></div>
                      </button>
                      <a href="#" id="btnEdit" class="pull-right linkbtn" style="margin-right: 5px;">Edit</a>
                   </div>
                </div>
             </div>
              <div class="tab-content" id="tab3">
                <div class="tab-pane active" style="margin-top: 50%;text-align: center;" id="pill1">
                   <table class="table">
                      <tbody>
                         <tr>
                            <td colspan="2" class="text-center">
                               <p>Your Quote has been placed successfully.<br> Check Active Transaction Section to see your current rank.</p>
                            </td>
                         </tr>
                      </tbody>
                   </table>
                   <div class="posfix">
                      <a href="active-transactions.html" class="btn btn-info">
                         OK
                         <div class="ripple-container"></div>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 