<div class="loginbody">
   <div class="content-a">
      <div class="content-b">
         <div class="container-fluid">
            <div class="" >
               <div class="col-md-4 col-md-offset-4 maindiv right-panel-active" id="container">
                  <div class="form-container sign-up-container">
                       <form [formGroup]="resetForm" (ngSubmit)="submit()" style="padding: 80px 30px;">
                        <div class="content-a">
                           <div class="content-b">
                              <div class="col-md-12">
                              <h1>Set Password</h1>
                              <span style="padding-bottom: 40px;"></span>
                              <div class="inputDiv">
                                 <input [type]="isTextFieldType ? 'text' : 'password'" maxlength="20"  formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && resetFormDetails.password.errors }"> 
                                 <label>Enter Password</label>
                                 <i class="fas fa-unlock-alt passicon" aria-hidden="true"></i>
                                 <i (click)="togglePasswordFieldType()" [ngClass]="isTextFieldType ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>
                                 <div *ngIf="submitted && resetFormDetails.newPassword.errors" class="invalid-feedback">
                                    <div *ngIf="resetFormDetails.newPassword.errors.required">Password field is required</div>
                                 </div>  
                                 <div *ngIf="resetFormDetails.newPassword.errors?.minlength" class="invalid-feedback">
                                    Enter 6 characters long password.
                                 </div>       
                              </div> 
                              <div class="inputDiv">
                                 <input [type]="isreTextFieldType ? 'text' : 'password'" maxlength="20"  formControlName="retypePaasword" [ngClass]="{ 'is-invalid': submitted && forgetPasswordDetails.rePassword.errors }"> 
                                 <label>Re-enter Password</label>
                                 <i class="fas fa-unlock-alt passicon" aria-hidden="true"></i>
                                 <i (click)="togglerePasswordFieldType()" [ngClass]="isreTextFieldType ? 'fa fa-eye' : 'fa fa-eye-slash'" class="eye_icon"></i>
                                 <div *ngIf="submitted && resetFormDetails.retypePaasword.errors" class="invalid-feedback">
                                    <div *ngIf="resetFormDetails.retypePaasword.errors.required">Password field is required</div>
                                 </div>  
                                 <div *ngIf="resetFormDetails.retypePaasword.errors?.minlength" class="invalid-feedback">
                                    Enter 6 characters long password.
                                 </div>       
                              </div>
                              <div class="form-group" style="padding-bottom: 25px;"></div>
                              <button type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
                              </div>
                           </div>
                        </div>
                       </form>
                  </div>
                  <div class="form-container sign-in-container">
                  </div>
                  <div class="overlay-container">
                     <div class="overlay">
                        <div class="overlay-panel overlay-left">
                           <i class="fas fa-key" style="font-size: 23px;margin: 0 0 20px;"></i>
                           <h1>Reset Password</h1>
                           <p>To keep connected with us please login with your personal info</p>
                        </div>
                        <div class="overlay-panel overlay-right">
                           <h1>Hello, Friend!</h1>
                           <p>Enter your personal details and start journey with us</p>
                           <button class="ghost" id="signUp">Sign Up</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <router-outlet></router-outlet>