table {
    width: 800px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }


  .mat-table-sticky:first-child {
    border-right: 0px solid #e0e0e0;
}









  table.mat-table {
    margin: 0 !important;
    border-spacing: 0;
      border-collapse: collapse !important;
      width: 100%;
}

table.dataTable>thead>tr>th, th.mat-header-cell {
       font-size: 12px !important;
    font-weight: 500 !important;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #ccc !important;
    border-top: 0 !important;white-space: nowrap;
    border: none;
    padding: 5px !important;
    outline: 0; 
}

.mat-table-sticky[_ngcontent-bnq-c20]:first-child {
    border-right: 0px solid #e0e0e0;
}

.mat-table-sticky:last-child{
  border-left: 0;
}

.card .table tr td , td.mat-cell, td.mat-footer-cell{
    border-top: none;
    font-size: 13px;
    font-weight: 400;white-space: nowrap;
    text-align: center;
    color: #333;
    padding: 5px !important;
    outline: 0;
    max-width: 150px;
    width: auto;
}

.material-datatables {
    box-shadow: none;
    border: 0;
}

table.dataTable{
width:100%;}

.mat-elevation-z8,  .table-responsive, .table-bordered, .material-datatables {
    border: none;
    box-shadow: none;
}




