<div id="myCanvasNav" class="overlay3" (click)="closeOffcanvas()"></div>
<div class="content">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
           <div class="card">
              <div class="card-header card-header-icon" data-background-color="blue">
                 <i class="fa fa-check-square-o"></i>
              </div>
              <div class="card-content">
                <h4 class="card-title"> <span id="changetext"> Active Transaction</span> <a style="cursor: pointer;" class="backbtn pull-right" id="backbtn"><span class="fas fa-long-arrow-alt-left"></span> Back</a></h4>   
                 <form>
                  <div class="row" *ngIf="hasNoRecord">
                    <div class="col-md-12">
                        No records available
                      </div>
                  </div>
                    <div class="row" *ngIf="!hasNoRecord">
                       <div class="col-md-12">
                          <div class="table-responsive material-datatables" id="transactionID" cellspacing="0" width="100%" style="width:100%">
                             <table class="table table-hover" id="datatables">
                                <thead>
                                  <tr>
                                    <th class="disabled-sorting text-center">#</th> 
                                    <th style="min-width: 150px;">Beneficiary</th>
                                    <th nowrap>Country</th>
                                    <th style="min-width: 150px;">Applicant</th>
                                    <th nowrap>Country</th>
                                    <th nowrap>Txn ID</th>
                                    <th style="min-width: 100px;width: 100px !important;">Date & Time</th>
                                    <th style="min-width: 100px;width: 100px !important;">Validity</th>
                                    <th nowrap>IB</th>
                                    <th style="min-width: 80px;">Amount</th>
                                    <th style="min-width: 60px;">Ccy</th>
                                    <th style="min-width: 80px;">Goods</th>
                                    <th style="min-width: 130px;">Requirement</th>
                                    <th style="min-width: 130px;">Quotes Received</th>
                                    <th style="min-width: 130px;">Action</th>
                                 </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let record of detail; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{record.beneName}}</td>
                                    <td>{{record.beneCountry}}</td>
                                    <td>{{record.applicantName}}</td>
                                    <td>{{record.applicantCountry}}</td>
                                    <td>{{record.transactionId}}</td>
                                    <td nowrap>{{record.insertedDate}}</td>
                                    <td nowrap>{{record.validity}}</td>
                                    <td>{{record.lCIssuanceBank}}</td>
                                    <td>{{record.lCCurrency}}</td>
                                    <td>{{record.lCValue}}</td>
                                    <td>{{record.goodsType}}</td>
                                    <td>{{record.requirementType}}</td>
                                    <td *ngIf="record.quotationReceived == 0"><span>{{record.quotationReceived}}</span></td>
                                    <td *ngIf="record.quotationReceived != 0"><span id="transactionDiv" style="cursor: pointer;text-decoration:underline;" (click)="showQuoteDetail(record.transactionId)" class="transactionDiv">{{record.quotationReceived}}</span></td>
                                    <td><a href="javascript:void()" (click)="showQuotePage(record.requirementType,0,record)"
                                            class="handle btn btn-info btn-round">View / Edit<div class="ripple-container"></div></a></td>
                                </tr>
                                </tbody>
                             </table>
                          </div>
                          <div class="table-responsive material-datatables" id="TransactionDetailDiv" cellspacing="0" width="100%"
                            style="width:100%">
                            <div *ngIf="noQRdetail">
                              No Data available
                            </div>
                            <table class="table table-hover" id="" *ngIf="!noQRdetail">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Transaction ID</th>
                                  <th>Bank</th>
                                  <th>Total Quote</th>
                                  <th>Ccy</th>
                                  <th>Valid Till</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                
                                <tr *ngFor="let QRrecord of QRdetail; let i = index" >
                                  <td>{{i + 1}}</td>
                                  <td>{{QRrecord.transactionId}}</td>
                                  <td class="showBankDetails">**** <br>
                                    Quotes placed till date 214<br>
                                    Quotes for Matress 23</td>
                                  <td><a (click)="openNav3();openOffcanvas();getQRDetail(QRrecord)" style="text-decoration:underline;cursor: pointer;">{{QRrecord.totalQuoteValue}}</a></td>
                                  <td>USD</td>
                                  <td>{{QRrecord.validityDate}}</td>
                                  <td><button (click)="showAcceptedDetails(i,QRrecord.quotationId, QRrecord.transactionId, QRrecord.bankUserId, true);" style="cursor: pointer;" class="btn btn-info acceptButton" data-toggle="modal" data-target="#myModal4">Accept</button></td>
                                </tr>                          
                              </tbody>
                            </table>
                          
                          </div>
                          <div class="text-right downloaddiv">
                            <ul class="list-unstyled list-inline">
                              <li>Download</li>
                              <li><a href="javascript:void()" class="pdf"><span class="fas fa-file-pdf"></span></a></li>
                              <li><a href="javascript:void()" class="excel"><span class="fas fa-file-excel"></span></a></li>
                            </ul>
                          </div>
                       </div>
                    </div>
                    <div class="clearfix"></div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<div id="menu-barnew" class="offcanvas">
  <div class="popupcontent">
    <div class="card">
      <div class="card-content">
        <h4>Place Quote</h4>
        <div class="tab-content" id="tab1">
          <div class="tab-pane active" id="pill1">
            <table class="table">
              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th *ngIf="getSpecificDetail">{{getSpecificDetail.transactionId}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bank</td>
                  <td>** <br>
                    Quotes placed till date 214
                    Quotes for Matress 23</td>
                </tr>
                <tr>
                  <td>Confirmation Charges</td>
                  <td *ngIf="getSpecificDetail">{{getSpecificDetail.confirmationCharges}}</td>
                </tr>
                <tr>
                  <td>Confirmation Charges applicable from date of issuance till negotiation date </td>
                  <td *ngIf="getSpecificDetail">{{getSpecificDetail.confChgsIssuanceToNegot}}</td>
                </tr>
                <tr>
                  <td>Confirmation Charges applicable from date of issuance till date of maturity</td>
                  <td *ngIf="getSpecificDetail">{{getSpecificDetail.confChgsIssuanceToMatur}}</td>
                </tr>
                <tr>
                  <td>Minimum Transaction Charges</td>
                  <td *ngIf="getSpecificDetail">{{getSpecificDetail.minTransactionCharges}}</td>
                </tr>
                <tr>
                  <td>Other Charges</td>
                  <td *ngIf="getSpecificDetail">{{getSpecificDetail.otherCharges}} <br>
                    Comment: SWIFT Charges</td>
                </tr>
                <tr>
                  <td>Valid Till</td>
                  <td *ngIf="getSpecificDetail">{{getSpecificDetail.validityDate}}</td>
                </tr>
                <tr>
                  <th>Total Quote</th>
                  <th *ngIf="getSpecificDetail">{{getSpecificDetail.totalQuoteValue}} </th>
                </tr>
                <tr>
                  <td colspan="2">Note : The applicable benchmark will be applicable as of transaction date, actual
                    quote from the bank may differ to that extent.</td>
                </tr>
              </tbody>
            </table>
            <div class="posfix">
              <button type="submit" class="btn btn-info pull-right handle1" (click)="closeOffcanvas()">
                Ok
                <div class="ripple-container"></div>
              </button>
              <!--    <a href="javascript:void()" id="btnEdit" class="pull-right linkbtn" style="margin-right: 5px;">Edit</a> -->
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab3">
          <div class="tab-pane active" style="margin-top: 50%;text-align: center;" id="pill1">
            <table class="table">
              <tbody>
                <tr>
                  <td colspan="2" class="text-center">
                    <p style="text-align: center;">Your Quote has been placed successfully.<br> Check Active Transaction
                      Section to see your current rank.</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="posfix">
              <a (click)="closeOffcanvas()" class="btn btn-info">
                OK
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal4" class="popupnew modal fade in" role="dialog">
  <div class="modal-dialog modal-md emaildiv">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h2>Quote Accepted</h2>
        <div class="padnew">
          <!--<p><strong>Enter Email ID here</strong></p> -->
          <div class="">
            <div class="row">
              <div class="col-md-12">
                <!-- <p class="head"><strong>Congratulations!</strong><br />You've saved <strong>$100</strong> by accepting
                  this Bid.</p> -->

                <ul class="list-unstyled">
                  <li><strong>Bank Details</strong></li>
                  <li>Bank : {{acceptedDetails.bankName}}</li>
                  <li>Branch : {{acceptedDetails.branchName}}</li>
                  <li>Country : {{acceptedDetails.registeredCountry}}</li>
                  <li>Email : {{acceptedDetails.emailId}}</li>
                  <li>Contact : {{acceptedDetails.telephone}}</li>
                  <li>Contact Person : {{acceptedDetails.firstName}}{{acceptedDetails.lastName}}</li>
                </ul>
                <p>Details are saved in the Transaction Details section.</p>
                <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Ok<div
                    class="ripple-container">
                    <div class="ripple ripple-on ripple-out"
                      style="left: 42.8594px; top: 20px; background-color: rgb(255, 255, 255); transform: scale(9.35742);">
                    </div>
                  </div></button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

  <app-banker></app-banker>
  <app-confirm-and-discount></app-confirm-and-discount>
  <app-confirmation></app-confirmation>
  <app-discounting></app-discounting>
  <app-refinancing></app-refinancing>