
  
  .card .card-header.card-header-icon + .card-content .card-title {
    padding-bottom: 15px;
    }
    .dataTables_filter .inputDiv{  
    display: inline-block;
    position: relative;
    width: 200px;
    margin-bottom: 20px;
    margin: 0 25px 0 0px;
    }
    .popupcontent{
    height: 100%;
    }
    .popupcontent th{
    padding: 4px 8px !important;
    vertical-align: top !important;
    }
    .reopen{
    margin-right: 5px;    padding: 5px;margin-top: 15px;font-size: 15px;text-decoration: underline;
    font-weight: 400;
    color: #333;
    }

    .popupnew .emaildiv h2 {
      font-size: 17px;
      font-weight: 500;
      padding: 10px 15px;
      margin: 0 0 20px;
      background: #00bcd4;
      color: #fff;
  }
  .popupnew .modal-content .modal-body {
      padding: 0;
  }
  .popupnew .emaildiv .padnew {
      padding: 0px 25px 10px;
  }