<div class="content">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
           <div class="card">
              <div class="card-header card-header-icon" data-background-color="blue">
                 <i class="fa fa-th-list"></i>
              </div>
              <div class="card-content">
                 <h4 class="card-title pull-left">New Requests</h4>
                 <form>
                  <div class="row" *ngIf="hasNoRecord">
                    <div class="col-md-12">
                        No records available
                      </div>
                  </div>
                    <div class="row" *ngIf="!hasNoRecord">
                       <div class="col-md-12">
                          <div class="table-responsive material-datatables" id="transactionID" cellspacing="0" width="100%" style="width:100%">
                             <table class="table table-hover" id="datatables">
                                <thead>
                                  <tr>
                                    <th class="disabled-sorting text-center">#</th> 
                                    <th style="min-width: 150px;">Beneficiary</th>
                                    <th>Country</th>
                                    <th style="min-width: 150px;">Applicant</th>
                                    <th nowrap>Country</th>
                                    <th nowrap>Txn ID</th>
                                    <th style="min-width: 100px;width: 100px !important;">Date & Time</th>
                                    <th style="min-width: 100px;width: 100px !important;">Validity</th>
                                    <th nowrap>IB</th>
                                    <th style="min-width: 80px;">Amount</th>
                                    <th style="min-width: 60px;">Ccy</th>
                                    <th style="min-width: 80px;">Goods</th>
                                 <th style="min-width: 130px;">Requirement</th>
                                    <th style="min-width: 130px;">Action</th>
                                 </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let record of detail; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{record.beneName}}</td>
                                    <td>{{record.beneBankCountry}}</td>
                                    <td>{{record.applicantName}}</td>
                                    <td>{{record.applicantCountry}}</td>
                                    <td>{{record.transactionId}}</td>
                                    <td nowrap>{{record.insertedDate}}</td>
                                    <td nowrap>{{record.validity}}</td>
                                    <td>{{record.lCIssuanceBank}}</td>
                                    <td>{{record.lCCurrency}}</td>
                                     <td>{{record.lCValue}}</td>
                                    <td>{{record.goodsType}}</td>
                                    <td>{{record.requirementType}}</td>
                                    <td><a href="javascript:void()" (click)="showQuotePage(record.requirementType,2,record)"
                                            class="handle btn btn-info btn-round">Place Quote<div class="ripple-container"></div></a>
                                            <a href="javascript:void()" (click)="showDetail(record)"
                                            class="handle">Detail<div class="ripple-container"></div></a></td>
                              
                                          </tr>
                                </tbody>
                             </table>
                          </div>
                            </div>
                    </div>
                    <div class="clearfix"></div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
  <app-banker></app-banker>
  <app-confirm-and-discount></app-confirm-and-discount>
  <app-confirmation></app-confirmation>
  <app-discounting></app-discounting>
  <app-refinancing></app-refinancing>




