<div class="content paymentpage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content text-center">
                        <p class="errormessage">Thank you for submitting the KYC documents.</p>
                        <a href="LC_Details_Tab.html">
                            <div class="ocmain">
                                <div class="ocrloader">
                                    <em></em>
                                    <div>
                                        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                                        <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                                        <i></i><i></i><i></i>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                        </a>
                        <div class="clearfix"></div>
                        <span>Currently we are reviewing your account. You will be notified on registered email address
                            once we complete the review.</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>