<div id="myModal" class="modal1">
    <!-- <div class="modal-dialog modal-md emaildiv"> -->
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Change Password
          <button type="button" class="close" (click)="close()">&times;</button>
        </h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!--<p><strong>Enter Email ID here</strong></p> -->
          <div class="col-md-12">
            <div class="row">
              
                <div class="inputDiv">
                  <input type="password" formControlName="oldpassword" [ngClass]="{ 'is-invalid': submitted && changePassDetails.oldpassword.errors?.required }">
                  <label>Old Password</label>
                  <div *ngIf="submitted && changePassDetails.oldpassword.errors?.required" class="invalid-feedback">
                    Old Password is required
                </div>
                </div>
              
              
                <div class="inputDiv">
                  <input type="password" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && changePassDetails.newPassword.errors?.required }" maxlength="30">
                  <label>New Password</label>
                  <div *ngIf="submitted && changePassDetails.newPassword.errors?.required" class="invalid-feedback">
                   New Password is required
                </div>
                </div>
              
              
                <div class="inputDiv">
                  <input type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && (changePassDetails.confirmPassword.errors?.required || (changePassDetails.confirmPassword.touched && changePassDetails.confirmPassword.errors?.mustMatch))}" maxlength="30">
                  <label>Confirm Password</label>
                  <div *ngIf="submitted && changePassDetails.confirmPassword.errors?.required" class="invalid-feedback" >
                   Confirm Password is required
                  </div>
                  <div *ngIf="changePassDetails.confirmPassword.touched && changePassDetails.confirmPassword.errors?.mustMatch" class="invalid-feedback">
                   Confirm Password is not matching with New Password
                </div>
                </div>
              
            </div>
            <button class="btn btn-info pull-right" type="submit">Submit</button>
          </div>
          <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
        </div>    
      </form>
    </div>
    </div>
    <!-- </div> -->
  </div>