.card .card-header.card-header-icon + .card-content .card-title {
    padding-bottom: 25px;
    font-size: 17px;font-family: montserrat;
    font-weight: 500;
    }
    .card .card-header.card-header-icon + .card-content .card-title small{
    margin: 0 0 0 8px;
    }