<!-- <div id="menu-bar-refinancing" [hidden]="!isActive" (blur)="closed()"
   style="position: fixed; width: 450px; transition: all 300ms ease 0s; height: 100%; top: 0px; right: 0px; z-index:1049;"> -->
   <div id="menu-bar-ref" class="offcanvas" [hidden]="!isActive">
   <div class="popupcontent">
      <div class="card">
         <div class="card-content">
            <h4>{{title}} Transaction<button type="button" class="close" (click)="closed_div()">&times;</button></h4>
            <div class="tab-content" id="tab1" *ngIf="tab==='tab1'">
               <div class="tab-pane active" id="pill1" style="height: 530px;overflow: auto;padding-bottom: 30px;">
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Applicant</th>
                        </tr>
                        <tr>
                           <td>Name</td>
                           <td><input type="text" [(ngModel)]="data.applicantName"></td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.applicantCountry">
                                 <option value='India'>India</option>
                                 <option value='Bangladesh'>Bangladesh</option>
                                 <option value='Kenya'>Kenya</option>
                                 <option value='Nigeria'>Nigeria</option>
                                 <option value='UAE'>UAE </option>
                                 <option value='Qatar'>Qatar</option>
                             </select>
                           </td>
                        </tr>
                        <tr *ngIf="data.userType == 'Beneficiary'">
                           <td>Contact Person</td>
                           <td><input type="text" [(ngModel)]="data.applicantContactPerson"></td>
                        </tr>
                        <tr *ngIf="data.userType == 'Beneficiary'">
                           <td>Email Id</td>
                           <td><input type="text" [(ngModel)]="data.applicantContactPersonEmail"></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Beneficiary</th>
                        </tr>
                        <tr>
                           <td>Name </td>
                           <td><input type="text" [(ngModel)]="data.beneName"></td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.beneCountry">
                                 <option value='India'>India</option>
                                 <option value='Bangladesh'>Bangladesh</option>
                                 <option value='Kenya'>Kenya</option>
                                 <option value='Nigeria'>Nigeria</option>
                                 <option value='UAE'>UAE </option>
                                 <option value='Qatar'>Qatar</option>
                             </select>
                           </td>
                        </tr>
                        <tr *ngIf="data.userType == 'Applicant'">
                           <td>Contact Person</td>
                           <td><input type="text" [(ngModel)]="data.beneContactPerson"></td>
                        </tr>
                        <tr *ngIf="data.userType == 'Applicant'">
                           <td>Email Id</td>
                           <td><input type="text" [(ngModel)]="data.beneContactPersonEmail"></td>
                        </tr>
                        <tr>
                           <td>Bank</td>
                           <td><input type="text" [(ngModel)]="data.beneBankName"></td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td><input type="text" [(ngModel)]="data.beneSwiftCode"></td>
                        </tr>
                        <tr>
                           <td>Bank Country</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.beneBankCountry">
                                 <option value='India'>India</option>
                                 <option value='Bangladesh'>Bangladesh</option>
                                 <option value='Kenya'>Kenya</option>
                                 <option value='Nigeria'>Nigeria</option>
                                 <option value='UAE'>UAE </option>
                                 <option value='Qatar'>Qatar</option>
                             </select>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th colspan="2">LC Details</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>LC Issuing Bank</td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceBank"></td>
                        </tr>
                        <tr>
                           <td>Branch </td>
                           <td><input type="text" [(ngModel)]="data.lCIssuanceBranch"></td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td><input type="text" [(ngModel)]="data.swiftCode"></td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.lCIssuanceCountry">
                                 <option value="INDIA">India</option>
                                 <option value="AUSTRALIA">Australia</option>
                                 <option value="BANGLADESH">Bangladesh
                                 </option>
                             </select>
                           </td>
                        </tr>
                        <tr>
                           <td>Requirement</td>
                           <td><input type="text" [(ngModel)]="data.requirementType"></td>
                        </tr>
                        <tr>
                           <td>Amount</td>
                           <td><input type="text" [(ngModel)]="data.lCValue"></td>
                        </tr>
                        <tr>
                           <td>Currency</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.lCCurrency">
                                 <option value="INR">INR</option>
                                 <option value="USD">USD</option>
                                 <option value="EURO">EURO</option>
                             </select>
                           </td>
                        </tr>
                        <tr>
                           <td>LC Issuing Date</td>
                           <td><input type="date"  [ngModel]="data.lCIssuingDate | date:'yyyy-MM-dd'" 
                              (ngModelChange)="data.lCIssuingDate = $event"></td>
                        </tr>
                        <tr>
                           <td>LC Negotiation Date</td>
                           <td><input type="date"  [ngModel]="data.negotiationDate | date:'yyyy-MM-dd'" 
                              (ngModelChange)="data.negotiationDate = $event"></td>
                        </tr>
                        <tr>
                           <td>Last Shipment Date</td>
                           <td><input type="date"  [ngModel]="data.lastShipmentDate | date:'yyyy-MM-dd'" 
                              (ngModelChange)="data.lastShipmentDate = $event"></td>
                        </tr>
                        <tr>
                           <td>Goods</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.goodsType">
                                 <option value="Gold"> Gold</option>                                                                      
                                 <option value="Plastic">Plastic</option>
                                 <option value="Drugs">Drugs</option>
                                 <option value="Diamonds">Diamonds
                                 </option>
                             </select>
                           </td>
                        </tr>
                     </tbody>
                  </table>

                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Tenor of Deferred Payment </th>
                        </tr>
                        <tr>
                           <td>Orignal Usance (Tenor) of LC</td>
                           <td><input type="text" [(ngModel)]="data.originalTenorDays"></td>
                        </tr>
                        <tr>
                           <td>Period for which refinancing is required</td>
                           <td><input type="text" [(ngModel)]="data.refinancingPeriod"></td>
                        </tr>
                        <tr>
                           <td>LC Maturity Date</td>
                           <td><input type="date"  [ngModel]="data.lcMaturityDate | date:'yyyy-MM-dd'" 
                              (ngModelChange)="data.lcMaturityDate = $event"></td>
                        </tr>
                        <tr>
                           <th colspan="2">Beneficiary Details of Last Transaction</th>
                        </tr>
                        <tr>
                           <td>LC Number</td>
                           <td><input type="text" [(ngModel)]="data.lcNumber"></td>
                        </tr>
                        <tr>
                           <td>Beneficiary Bank Name</td>
                           <td><input type="text" [(ngModel)]="data.lastBeneBank"></td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td><input type="text" [(ngModel)]="data.lastBeneSwiftCode"></td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.lastBankCountry">
                                 <option value="INDIA">India</option>
                                 <option value="BANGLADESH">Bangladesh</option>
                                 <option value="KENYA">Kenya</option>
                                 <option value="NIGERIA">Nigeria</option>
                                 <option value="UAE">UAE</option>
                                 <option value="QATAR">Qatar</option>
                             </select>
                           </td>
                        </tr>
                     </tbody>
                  </table>                  
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Others</th>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.loadingCountry">
                                 <option value="INDIA">
                                     India</option>
                                 <option value="BANGLADESH">
                                     Bangladesh</option>
                                 <option value="KENYA">
                                     Kenya</option>
                                 <option value="NIGERIA">
                                     Nigeria</option>
                                 <option value="UAE">UAE
                                 </option>
                                 <option value="QATAR">
                                     Qatar</option>
                             </select>
                           </td>
                        </tr>
                        <tr>
                           <td>Port of Loading</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.loadingPort">
                              <option value="Jawaharlal Nehru Port">
                                  Jawaharlal Nehru Port</option>
                              <option value="Mumbai Port">
                                  Mumbai Port </option>
                              <option value="GUJRAT Port">
                                  GUJRAT Port </option>
                              <option value="Dr. Syama Prasad Mukherjee Port">Dr.
                                  Syama Prasad Mukherjee Port
                              </option>
                              <option value="Dr. Rama Prasad Mukherjee Port">Dr.
                                  Rama Prasad Mukherjee Port
                              </option>
                          </select></td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.dischargeCountry">
                              <option value="INDIA">
                                  India</option>
                              <option value="BANGLADESH">
                                  Bangladesh</option>
                              <option value="KENYA">
                                  Kenya</option>
                              <option value="NIGERIA">
                                  Nigeria</option>
                              <option value="UAE">UAE
                              </option>
                              <option value="QATAR">
                                  Qatar</option>
                          </select></td>
                        </tr>
                        <tr>
                           <td>Port of Discharge</td>
                           <td>
                              <select class="edit-selectColor" [(ngModel)]="data.dischargePort">
                                 <option value="Port of Chittagong">
                                     Port of Chittagong</option>
                                 <option value="Port of Mongla">
                                     Port of Mongla</option>
                                 <option value="Port of Dhaka">
                                     Port of Dhaka</option>
                                 <option value="Port of Payra">
                                     Port of Payra</option>
                             </select>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              Charges are on
                           </td>
                           <td><input type="text" [(ngModel)]="data.chargesType"></td>
                        </tr>
                        <tr>
                           <td>Validity</td>
                           <td><input type="date"  [ngModel]="data.validity | date:'yyyy-MM-dd'" 
                              (ngModelChange)="data.validity = $event"></td>
                        </tr>
                        <tr>
                           <td>Pro Forma</td>
                           <td><a style="cursor: pointer;" (click)="openDocument(data.lcProForma)" class="">View</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>

               </div>
               <div class="posfix">
                  <button type="submit" class="btn btn-info pull-right" id="btnpreview"
                     (click)="transaction('preview')">
                     Preview
                     <div class="ripple-container"></div>
                  </button>

               </div>
            </div>

            <div class="tab-content" id="tab2" *ngIf="tab==='tab2'">
               <div class="tab-pane active datadiv" id="pill1"
                  style="height: 530px;overflow: auto;padding-bottom: 30px;">
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Applicant</th>
                        </tr>
                        <tr>
                           <td>Name</td>
                           <td>{{data.applicantName}}</td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>{{data.applicantCountry}}</td>
                        </tr>
                        <tr *ngIf="data.userType == 'Beneficiary'">
                           <td>Contact Person</td>
                           <td>{{data.applicantContactPerson}}</td>
                        </tr>
                        <tr *ngIf="data.userType == 'Beneficiary'">
                           <td>Email Id</td>
                           <td>{{data.applicantContactPersonEmail}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Beneficiary</th>
                        </tr>
                        <tr>
                           <td>Name </td>
                           <td>{{data.beneName}}</td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>{{data.beneCountry}}</td>
                        </tr>
                        <tr *ngIf="data.userType == 'Applicant'">
                           <td>Contact Person</td>
                           <td>{{data.beneContactPerson}}</td>
                        </tr>
                        <tr *ngIf="data.userType == 'Applicant'">
                           <td>Email Id</td>
                           <td>{{data.beneContactPersonEmail}}</td>
                        </tr>
                        <tr>
                           <td>Bank</td>
                           <td>{{data.beneBankName}}</td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td>{{data.beneSwiftCode}}</td>
                        </tr>
                        <tr>
                           <td>Bank Country</td>
                           <td>{{data.beneBankCountry}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th colspan="2">LC Details</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>LC Issuing Bank</td>
                           <td>{{data.lCIssuanceBank}}</td>
                        </tr>
                        <tr>
                           <td>Branch </td>
                           <td>{{data.lCIssuanceBranch}}</td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td>{{data.swiftCode}}</td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>{{data.lCIssuanceCountry}}</td>
                        </tr>
                        <tr>
                           <td>Requirement</td>
                           <td>{{data.requirementType}}</td>
                        </tr>
                        <tr>
                           <td>Amount</td>
                           <td>{{data.lCValue}}</td>
                        </tr>
                        <tr>
                           <td>Currency</td>
                           <td>{{data.lCCurrency}}</td>
                        </tr>
                        <tr>
                           <td>LC Issuing Date</td>
                           <td>{{data.lCIssuingDate | date : 'dd-MM-y'}}</td>
                        </tr>
                        <tr>
                           <td>LC Negotiation Date</td>
                           <td>{{data.negotiationDate | date : 'dd-MM-y'}}</td>
                        </tr>
                        <tr>
                           <td>Last Shipment Date</td>
                           <td>{{data.lastShipmentDate | date : 'dd-MM-y'}}</td>
                        </tr>
                        <tr>
                           <td>Goods</td>
                           <td>{{data.goodsType}}</td>
                        </tr>
                     </tbody>
                  </table>

                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Tenor of Deferred Payment </th>
                        </tr>
                        <tr>
                           <td>Orignal Usance (Tenor) of LC</td>
                           <td>{{data.originalTenorDays}}</td>
                        </tr>
                        <tr>
                           <td>Period for which refinancing is required</td>
                           <td>{{data.refinancingPeriod}}</td>
                        </tr>
                        <tr>
                           <td>LC Maturity Date</td>
                           <td>{{data.lcMaturityDate | date : "dd-MM-y"}}</td>
                        </tr>
                        <tr>
                           <th colspan="2">Beneficiary Details of Last Transaction</th>
                        </tr>
                        <tr>
                           <td>LC Number</td>
                           <td>{{data.lcNumber}}</td>
                        </tr>
                        <tr>
                           <td>Beneficiary Bank Name</td>
                           <td>{{data.lastBeneBank}}</td>
                        </tr>
                        <tr>
                           <td>Swift Code</td>
                           <td>{{data.lastBeneSwiftCode}}</td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>{{data.lastBankCountry}}</td>
                        </tr>
                     </tbody>
                  </table>                  
                  <table class="table table-bordered">
                     <tbody>
                        <tr>
                           <th colspan="2">Others</th>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>{{data.loadingCountry}}</td>
                        </tr>
                        <tr>
                           <td>Port of Loading</td>
                           <td>{{data.loadingPort}}</td>
                        </tr>
                        <tr>
                           <td>Country</td>
                           <td>{{data.dischargeCountry}}</td>
                        </tr>
                        <tr>
                           <td>Port of Discharge</td>
                           <td>{{data.dischargePort}}</td>
                        </tr>
                        <tr>
                           <td>
                              Charges are on
                           </td>
                           <td>{{data.chargesType}}</td>
                        </tr>
                        <tr>
                           <td>Validity</td>
                           <td>{{data.validity | date : 'dd-MM-y'}}</td>
                        </tr>
                        <tr>
                           <td>Pro Forma</td>
                           <td><a style="cursor: pointer;" (click)="openDocument(data.lcProForma)" class="">View</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>

            </div>
            <div class="posfix">
               <button type="submit" class="btn btn-info pull-right" id="btnSubmit" (click)="transaction('submit')">
                  Submit
                  <div class="ripple-container"></div>
               </button>
               <button type="submit" class="btn btn-info pull-right" id="btnSubmit" (click)="transaction('edit')">
                  Edit
                  <div class="ripple-container"></div>
               </button>
            </div>
         </div>
         <div class="tab-content" id="tab3" *ngIf="tab==='tab3'">
            <div class="tab-pane active" style="margin-top: 50%;text-align: center;" id="pill1">
               <table class="table">
                  <tbody>
                     <tr>
                        <td colspan="2" class="text-center">
                           <p style="text-align: center;">Your LC Transaction has been successfully placed. <br/>Keep checking the Active Transaction section for the quotes received.</p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div class="posfix">
                  <button class="btn btn-info" (click)="transaction('ok')">
                     OK
                     <div class="ripple-container"></div>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>

<div id="myModalR" class="modal3" style="display: none;">
   <!-- <div class="modal-dialog modal-md emaildiv"> -->
   <!-- Modal content-->
   <div class="modal-content">
     <div class="col-md-12 arrow_box"><button type="button" class="close" (click)="close()">&times;</button></div>
     <div class="modal-body" style="text-align:center">
       <h4>Attached document</h4>
       <div class="row">
         <!--<p><strong>Enter Email ID here</strong></p> -->
         <div class="col-md-12">
          <img *ngIf="document" [src]="document" />
         </div>
         <!-- <button type="submit" class="btn btn-info" class="close" data-dismiss="modal">Close</button>-->
       </div>
     </div>
   </div>
   <!-- </div> -->
 </div>