
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="fas fa-folder-open"></i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Saved Transactions</h4>
                    <form>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                <input type="checkbox" name="optionsCheckboxes">
                                                </label>
                                            </div>
                                        </td>
                                        <td>Draft</td>
                                        <td>Confirmation and Discounting</td>
                                        <td>08-01-2020 18:23:45 GMT</td>
                                        <td><button style="margin: 0;" type="button" class="btn btn-info">Edit</button></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                <input type="checkbox" name="optionsCheckboxes">
                                                </label>
                                            </div>
                                        </td>
                                        <td>Draft</td>
                                        <td>Refinancing</td>
                                        <td>08-01-2020 18:23:45 GMT</td>
                                        <td><button style="margin: 0;" type="button" class="btn btn-info">Edit</button></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                <input type="checkbox" name="optionsCheckboxes">
                                                </label>
                                            </div>
                                        </td>
                                        <td>Draft</td>
                                        <td>(no requirement)</td>
                                        <td>08-01-2020 18:23:45 GMT</td>
                                        <td><button style="margin: 0;" type="button" class="btn btn-info">Edit</button></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                <input type="checkbox" name="optionsCheckboxes">
                                                </label>
                                            </div>
                                        </td>
                                        <td>Draft</td>
                                        <td>Discounting</td>
                                        <td>08-01-2020 18:23:45 GMT</td>
                                        <td><button style="margin: 0;" type="button" class="btn btn-info">Edit</button></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>           
