

	.tab td{
        padding-right: 25px;
        padding-bottom: 5px;
    }
    .tab{
        background-color: #f5f5f0;
        padding-bottom: 12px;
    }
    
   .textarea-pad{
    margin: 6px 0px 0px; width: 320px; height: 52px;
    }
    
    .table td button{
        margin-left: 149px;
    }
    